sqlalchemy
bcrypt
pydantic-settings
sqlmodel
psycopg
typing
psycopg2
fastapi
pika
aio_pika
python-jose==3.3.0
asyncpg
debugpy
streamlit
streamlit-authenticator
email-validator
Authlib
httpx
Starlette
requests

