sqlalchemy
bcrypt
pydantic-settings
sqlmodel
psycopg
typing
psycopg2
uvicorn
fastapi
pika
aio_pika
python-jose==3.3.0
asyncpg
debugpy
gunicorn
email-validator
Authlib
httpx
Starlette
requests
python-openid2
catboost
joblib
scikit-learn
pandas
numpy
pydantic
SQLAlchemy


